{% extends 'keys/base.html' %}
  {% block content %}
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading"><h2>Вільні кімнати</h2></div>
            <table class="table">
                  <thead>
                        <tr>
                          <th>Кімната</th>
                          <th>RFID</th>
                        </tr>
                    </thead>
                  <tbody>
                      {% for key in available %}
                      <tr>
                        <td>{{ key.room }}</td>
                        <td>{{ key.rfid_s  }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
            </table>
        </div>
      </div>
      <div class="col-md-6"><span class="pull-right"></span>
        <div class="panel panel-danger">
          <div class="panel-heading"><h2>Зайняті кімнати</h2></div>
          <table class="table">
                  <thead>
                        <tr>
                          <th>Кімната</th>
                          <th>Зайнята</th>
                          <th>Ключ узято</th>
                        </tr>
                    </thead>
                  <tbody>
                      {% for item in taken %}
                      <tr>
                        <td>{{ item.key.room }}</td>
                        <td>{{ item.date_taked|date:'Y-m-d H:i' }}</td>
                        <td> {{ item.user.firstname }} {{ item.user.lastname }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
            </table>
        </div>
      </div>
    </div>
  <div class="panel panel-info">
      <div class="panel-heading"><h2>Історія</h2></div>
      <table class="table">
                  <thead>
                        <tr>
                          <th>Кімната</th>
                          <th>Була зайнята</th>
                          <th>Ключ узято</th>
                          <th>Ключ повернуто</th>
                        </tr>
                    </thead>
                  <tbody>
                      {% for item in history %}
                      <tr>
                        <td>{{ item.key.room }}</td>
                        <td> {{ item.user.firstname }} {{ item.user.lastname }}</td>
                        <td>{{ item.date_taked|date:'Y-m-d H:i' }}</td>
                        <td>{{ item.date_returned|date:'Y-m-d H:i'}}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
        </table>
  </div>
  </div>
  {% endblock %}